

<div class='trip_list' infinite-scroll="loadMore()" infinite-scroll-distance="2" infinite-scroll-disabled="isbusy" infinite-scroll-immediate-check="false">

    <div class='find'>
        <input placeholder='快速搜索' type="text" ng-keypress="tpFilter()" class='search_bar' maxlength='-1'></input>
    </div>

    <div class='trip bgColorChange{{trip.fs_id}}' ng-repeat="trip in tripList track by $index" ng-mouseleave="bgColorRemove(trip.fs_id)" ng-mouseenter="bgColorChange(trip.fs_id)">
        <div class='trip_header'>
            <div class='trip_image'>
                <image class='trip_image' src='{{trip.u_tag}}'></image>
            </div>
            <div class='trip_info'>
                <text>{{trip.u_tag_name}}</text>
                <text style='margin-left:10px;'>{{trip.fs_create_time | date: 'HH:mm yyyy-MM-dd'}}</text>
            </div>

        </div>
        <div class='trip_main' ng-click="loginCheck(trip.fs_id)">
            <div class='trip_main_title'>
                <text>{{trip.fs_des}}​​​​</text>
            </div>
            <div class='trip_main_desc'>
                <rich-text>
                    {{trip.t_content}}
                </rich-text>
            </div>
            <div class='trip_main_images'>
                <div ng-if="trip.fs_pic">
                    <image class='trip_main_images_image' src='{{trip.fs_pic}}'></image>
                </div>
                <div ng-if="trip.fs_pic2">
                    <image class='trip_main_images_image' src='{{trip.fs_pic2}}'></image>
                </div>
                <div ng-if="trip.fs_pic3">
                    <image class='trip_main_images_image' src='{{trip.fs_pic3}}'></image>
                </div>
                <div ng-if="trip.fs_pic4">
                    <image class='trip_main_images_image' src='{{trip.fs_pic4}}'></image>
                </div>
            </div>
        </div>
            <div>
                <div class="t_like">
                    <image class="like_img{{trip.fs_id}}" src="img/thumbs-up.png" ng-click="stickBtn(trip.fs_id, trip.u_id)"></image>
                    <span class="btnStickNum{{trip.fs_id}}">{{trip.sticks}}</span>
                </div>
                <div class="t_comment">
                    <img src="img/text-message12.png"> &nbsp; {{trip.comments}}
                </div>
            </div>
    </div>
    <div class="the_end">
        没有了.
    </div>
</div>
