

    <!--<div id="chart" style="border: solid 1px #AEAEAE; margin-bottom: 20px; margin-top: 20px;">-->
    <!--</div>-->

    <!--<script type="text/javascript">-->
        <!--$.get('../views/tp/data/weibo.json', function (weiboData) {-->


            <!--weiboData = weiboData.map(function (serieData, idx) {-->
                <!--var px = serieData[0] / 1000;-->
                <!--var py = serieData[1] / 1000;-->
                <!--var res = [-->
                    <!--[px, py]-->
                <!--];-->

                <!--for (var i = 2; i < serieData.length; i += 2) {-->
                    <!--var dx = serieData[i] / 1000;-->
                    <!--var dy = serieData[i + 1] / 1000;-->
                    <!--var x = px + dx;-->
                    <!--var y = py + dy;-->
                    <!--res.push([x.toFixed(2), y.toFixed(2), 1]);-->

                    <!--px = x;-->
                    <!--py = y;-->
                <!--}-->
                <!--return res;-->
            <!--});-->

            <!--var map = new mapboxgl.Map({-->
                <!--container: 'chart', // container id-->
                <!--style: {-->
                    <!--'version': 8,-->

                    <!--'sources': {},-->
                    <!--'layers': []-->
                <!--},-->
                <!--center: [112, 37.94], // starting position-->
                <!--// hash: true,-->
                <!--// interactive:false,-->
                <!--// pitch: 45,-->
                <!--zoom: 0 // starting zoom-->
            <!--});-->
            <!--map.addControl(new mapboxgl.NavigationControl());-->

            <!--map.on('load', function () {-->
                <!--map.addSource('google.tile', {-->
                    <!--'type': 'raster',-->
                    <!--'tiles': ['https://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}'],-->
                    <!--'tileSize': 256-->
                <!--});-->
                <!--map.addLayer({-->
                    <!--'id': 'google',-->
                    <!--'type': 'raster',-->
                    <!--'source': 'google.tile'-->
                <!--});-->

                <!--var echartslayer=new EchartsLayer(map);-->
                <!--echartslayer.chart.setOption(option = {-->

                    <!--GLMap: {-->
                        <!--roam: true-->
                    <!--},-->
                    <!--coordinateSystem: 'GLMap',-->
                    <!--title: {-->
<!--//                        text: '旅行数据点亮世界',-->
<!--//                        subtext: 'From ThinkGIS',-->
<!--//                        sublink: 'http://www.thinkgis.cn/public/sina',-->
                        <!--left: 'center',-->
                        <!--top: 'top',-->
                        <!--textStyle: {-->
                            <!--color: '#fff'-->
                        <!--}-->
                    <!--},-->
                    <!--tooltip: {},-->
                    <!--legend: {-->
                        <!--left: 'left',-->
                        <!--data: ['强', '中', '弱'],-->
                        <!--textStyle: {-->
                            <!--color: '#ccc'-->
                        <!--}-->
                    <!--},-->
                    <!--geo: {-->
                        <!--name: '强',-->
                        <!--type: 'scatter',-->
                        <!--map: 'GLMap',-->
                        <!--label: {-->
                            <!--emphasis: {-->
                                <!--show: false-->
                            <!--}-->
                        <!--},-->
                        <!--itemStyle: {-->
                            <!--normal: {-->
                                <!--areaColor: '#323c48',-->
                                <!--borderColor: '#111'-->
                            <!--},-->
                            <!--emphasis: {-->
                                <!--areaColor: '#2a333d'-->
                            <!--}-->
                        <!--}-->
                    <!--},-->
                    <!--series: [{-->
                        <!--name: '弱',-->
                        <!--type: 'scatter',-->
                        <!--coordinateSystem: 'GLMap',-->
                        <!--symbolSize: 10,-->
                        <!--large: true,-->
                        <!--itemStyle: {-->
                            <!--normal: {-->
                                <!--shadowBlur: 2,-->
                                <!--shadowColor: 'red',-->
                                <!--color: 'red'-->
                            <!--}-->
                        <!--},-->
                        <!--data: weiboData[0]-->
                    <!--}, {-->
                        <!--name: '中',-->
                        <!--type: 'scatter',-->
                        <!--coordinateSystem: 'GLMap',-->
                        <!--symbolSize: 10,-->
                        <!--large: true,-->
                        <!--itemStyle: {-->
                            <!--normal: {-->
                                <!--shadowBlur: 2,-->
                                <!--shadowColor: 'rgba(14, 241, 242, 0.8)',-->
                                <!--color: 'rgba(14, 241, 242, 0.8)'-->
                            <!--}-->
                        <!--},-->
                        <!--data: weiboData[1]-->
                    <!--}, {-->
                        <!--name: '强',-->
                        <!--type: 'scatter',-->
                        <!--coordinateSystem: 'GLMap',-->
                        <!--symbolSize: 10,-->
                        <!--large: true,-->
                        <!--itemStyle: {-->
                            <!--normal: {-->
                                <!--shadowBlur: 2,-->
                                <!--shadowColor: 'rgba(255, 255, 255, 0.8)',-->
                                <!--color: 'rgba(255, 255, 255, 0.8)'-->
                            <!--}-->
                        <!--},-->
                        <!--data: weiboData[2]-->
                    <!--}]-->
                <!--});-->


            <!--})-->


        <!--});-->
    <!--</script>-->

<div class='trip_list' infinite-scroll="loadMore()" infinite-scroll-distance="2" infinite-scroll-disabled="isbusy" infinite-scroll-immediate-check="false">

    <div class='find'>
        <input placeholder='快速搜索' type="text" ng-keypress="tpFilter()" class='search_bar' maxlength='-1'/>
    </div>

    <div class='trip ' ng-repeat="trip in tripList track by $index" >
        <div class='trip_header'>
            <div class='trip_image'>
                <image class='trip_image' ng-src='{{trip.u_tag}}'></image>
            </div>
            <div class='trip_info'>
                <text>{{trip.u_tag_name}}</text>
                <text style='margin-left:10px;'>{{trip.fs_create_time | date: 'HH:mm yyyy-MM-dd'}}</text>
                <div class="trip_info_follow">关注大神旅行</div>
            </div>

        </div>
        <div class='trip_main bgColorChange{{trip.fs_id}}' ng-click="loginCheck(trip.fs_id)" ng-mouseleave="bgColorRemove(trip.fs_id)" ng-mouseenter="bgColorChange(trip.fs_id)">
            <div class='trip_main_title'>
                <text>{{trip.fs_des}}​​​​</text>
            </div>
            <div class='trip_main_desc'>
                <rich-text>
                    {{trip.t_content}}
                </rich-text>
            </div>
            <div class='trip_main_images'>
                <div ng-if="trip.fs_disPic">
                    <image class='trip_main_images_image' ng-src='{{trip.fs_disPic}}'></image>
                </div>
                <div ng-if="trip.fs_disPic2">
                    <image class='trip_main_images_image' ng-src='{{trip.fs_disPic2}}'></image>
                </div>
                <div ng-if="trip.fs_disPic3">
                    <image class='trip_main_images_image' ng-src='{{trip.fs_disPic3}}'></image>
                </div>
                <div ng-if="trip.fs_disPic4">
                    <image class='trip_main_images_image' ng-src='{{trip.fs_disPic4}}'></image>
                </div>
            </div>
        </div>
            <div class="t_bottom">
                <div class="t_like">
                    <image class="like_img{{trip.fs_id}}" src="img/thumbs-up.png" ng-click="stickBtn(trip.fs_id, trip.u_id)"></image>
                    <span class="btnStickNum{{trip.fs_id}}">{{trip.sticks}}</span>
                </div>
                <div class="t_comment">
                    <img src="img/text-message12.png"> &nbsp; {{trip.comments}}
                </div>
            </div>
    </div>
    <div class="the_end">
        没有了.
    </div>
</div>
