<div class='trip_list' infinite-scroll="loadMore()" infinite-scroll-distance="2" infinite-scroll-disabled="isbusy" infinite-scroll-immediate-check="false">

    <div class="sponsors_title">赞助商</div>
    <div class="sponsors">

        <div class="sponsor">
            <div>
                <a href="https://fmyoutu.taobao.com/" target="_blank"><img src="img/modeng.jpeg"></a>
            </div>
        </div>
        <div class="sponsor">
            <div>
                <a href="http://54taotao.cn/" target="_blank"><img src="img/54taotao.png"></a>
            </div>
        </div>


    </div>


    <div class='find'>
        <input placeholder='快速搜索' type="text" ng-keypress="tpFilter()" class='search_bar' maxlength='-1'/>
    </div>

    <div class='trip ' ng-repeat="trip in tripList track by $index" >
        <div class='trip_header'>
            <div class='trip_image'>
                <image class='trip_image' ng-src='{{trip.u_tag}}'></image>
            </div>
            <div class='trip_info'>
                <text>{{trip.u_tag_name}}</text>
                <text style='margin-left:10px;'>{{trip.fs_create_time | date: 'HH:mm yyyy-MM-dd'}}</text>
                <div class="trip_info_follow" ng-if="trip.u_id != current_uID" ng-click="followUpBtn(trip.u_id)">{{trip.follow == 0?'关注大神旅行': '已关注'}}</div>
            </div>

        </div>
        <div class='trip_main bgColorChange{{trip.fs_id}}' ng-click="loginCheck(trip.fs_id)" ng-mouseleave="bgColorRemove(trip.fs_id)" ng-mouseenter="bgColorChange(trip.fs_id)">
            <div class='trip_main_title'>
                <text>{{trip.fs_des}}​​​​</text>
            </div>
            <div class='trip_main_desc'>
                <rich-text>
                    {{trip.t_content}}
                </rich-text>
            </div>
            <div class='trip_main_images'>
                <div ng-if="trip.fs_disPic">
                    <image class='trip_main_images_image' ng-src='{{trip.fs_disPic}}'></image>
                </div>
                <div ng-if="trip.fs_disPic2">
                    <image class='trip_main_images_image' ng-src='{{trip.fs_disPic2}}'></image>
                </div>
                <div ng-if="trip.fs_disPic3">
                    <image class='trip_main_images_image' ng-src='{{trip.fs_disPic3}}'></image>
                </div>
                <div ng-if="trip.fs_disPic4">
                    <image class='trip_main_images_image' ng-src='{{trip.fs_disPic4}}'></image>
                </div>
            </div>
        </div>
            <div class="t_bottom">
                <div class="t_like">
                    <image class="like_img{{trip.fs_id}}" src="img/thumbs-up.png" ng-click="stickBtn(trip.fs_id, trip.u_id)"></image>
                    <span class="btnStickNum{{trip.fs_id}}">{{trip.sticks}}</span>
                </div>
                <div class="t_comment">
                    <img src="img/text-message12.png"> &nbsp; {{trip.comments}}
                </div>
            </div>
    </div>
    <div class="the_end">
        没有了.
    </div>
</div>
