
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            h1.h1 有图
            p
                strong 欢迎加入图友大家庭(fmyoutu.com):
                br
                | 有图汇集了世界各地的旅行目的地, 根据国家定位, 图片选择, 可以快速呈现最值得去拜访,去探索的目的地.
                br
                br
                | 在生活中由于资源获取的局限性, 我们被各大旅行社, 广告给包围着, 往往旅行并不理想, 想要去远行, 去探索, 去呼吸, 开始变得复杂, 是跟随大众还是另辟蹊径成为了问题.
                br
                br
                | 通过有图快速定位, 浏览图片能快速帮助你找到新颖的目的地. 同时有图社区汇集了各种资源能帮助你解决旅行中的问题.
                br
                | 最后, 我们真诚的欢迎您加入图友家庭, 让我们一起分享美丽, 分享经验, 共同成长.
             p= link

             p
                | 点击以上链接验证您的图友账号进行登陆.
                br
                | 如果这不是您本人操作, 请忽略该邮箱. 如有问题请发信admin@fmyoutu.com 谢谢
                br
                br
                br
                br
                br
                | 有图网团队

