<div class="create_footstep">
    <div class="create_footstep-info">
        <form ng-submit="submit()" method="POST">
            <div id="create_footstep-info-header">制作你的照片 <span style="color: grey;">(离开此页面, 将无法保持并发布哦)</span></div>

            <div style="border: solid 1px green; width: 100%;
    min-height: 300px;
    text-align: center;">
                <img class="present_picture" style="max-width:100%;">
            </div>
            <div class="create_footstep-info_img_list">
                <div class="create_footstep-info_img_list_pic">
                    <div class="fileUpload footstep_pic_btn0">
                        <input type="file" class="upload" onchange="angular.element(this).scope().uploadFile(this,0)" name="imageName"/>
                        <span class="uploadBtn">+</span>
                    </div>
                    <img class="footstep_pic0" ng-click="switchPic(footstep.fs_pic)">
                </div>
                <div class="create_footstep-info_img_list_pic">
                    <div class="fileUpload footstep_pic_btn2">
                        <input type="file" class="upload" onchange="angular.element(this).scope().uploadFile(this,2)" name="imageName"/>
                        <span class="uploadBtn">+</span>
                    </div>
                    <img class="footstep_pic2" ng-click="switchPic(footstep.fs_pic2)">
                </div>
                <div class="create_footstep-info_img_list_pic">
                    <div class="fileUpload footstep_pic_btn3">
                        <input type="file" class="upload" onchange="angular.element(this).scope().uploadFile(this,3)" name="imageName"/>
                        <span class="uploadBtn">+</span>
                    </div>
                    <img class="footstep_pic3" ng-click="switchPic(footstep.fs_pic3)">
                </div>
                <div class="create_footstep-info_img_list_pic">
                    <div class="fileUpload footstep_pic_btn4">
                        <input type="file" class="upload" onchange="angular.element(this).scope().uploadFile(this,4)" name="imageName"/>
                        <span class="uploadBtn">+</span>
                    </div>
                    <img class="footstep_pic4" ng-click="switchPic(footstep.fs_pic4)">
                </div>
                <div class="create_footstep-info_img_list_pic">
                    <div class="fileUpload footstep_pic_btn5">
                        <input type="file" class="upload" onchange="angular.element(this).scope().uploadFile(this,5)" name="imageName"/>
                        <span class="uploadBtn">+</span>
                    </div>
                    <img class="footstep_pic5" ng-click="switchPic(footstep.fs_pic5)">
                </div>
                <div class="create_footstep-info_img_list_pic">
                    <div class="fileUpload footstep_pic_btn6">
                        <input type="file" class="upload" onchange="angular.element(this).scope().uploadFile(this,6)" name="imageName"/>
                        <span class="uploadBtn">+</span>
                    </div>
                    <img class="footstep_pic6" ng-click="switchPic(footstep.fs_pic6)">
                </div>
                <div class="create_footstep-info_img_list_pic">
                    <div class="fileUpload footstep_pic_btn7">
                        <input type="file" class="upload" onchange="angular.element(this).scope().uploadFile(this,7)" name="imageName"/>
                        <span class="uploadBtn">+</span>
                    </div>
                    <img class="footstep_pic7" ng-click="switchPic(footstep.fs_pic7)">
                </div>
                <!--<div class="create_footstep-info_img_list_pic">-->
                    <!--<div class="fileUpload footstep_pic_btn8">-->
                        <!--<input type="file" class="upload" onchange="angular.element(this).scope().uploadFile(this,8)" name="imageName"/>-->
                        <!--<span class="uploadBtn">+</span>-->
                    <!--</div>-->
                    <!--<img class="footstep_pic8" ng-click="switchPic(footstep.fs_pic8)">-->
                <!--</div>-->
            </div>
            <hr>
            <div id="myProgress">
                <div id="myBar"></div>
            </div>
            <input type="text" style="display:none;" name="fs_pic" ng-model="footstep.fs_pic8">
            <input type="text" style="display:none;" name="fs_pic" ng-model="footstep.fs_pic7">
            <input type="text" style="display:none;" name="fs_pic" ng-model="footstep.fs_pic6">
            <input type="text" style="display:none;" name="fs_pic" ng-model="footstep.fs_pic5">
            <input type="text" style="display:none;" name="fs_pic" ng-model="footstep.fs_pic4">
            <input type="text" style="display:none;" name="fs_pic" ng-model="footstep.fs_pic2">
            <input type="text" style="display:none;" name="fs_pic" ng-model="footstep.fs_pic3">
            <input type="text" style="display:none;" name="fs_pic" ng-model="footstep.fs_smallImg">
            <input type="text" style="display:none;" name="fs_pic" ng-model="footstep.fs_bigImg">
            <div  class="create_footstep-info-div">

                <!--宽度Pixel&nbsp;<input ng-model="footstep.widthPixel" type="text" style="margin-bottom: 10px; border: solid 1px green;"><br>-->
                <!--高度Pixel&nbsp;<input ng-model="footstep.heightPixel" type="text" style="margin-bottom: 10px; border: solid 1px green;"><br>-->
                <!--旋转角度&nbsp;<input ng-model="footstep.rotateDegree" type="text" style="margin-bottom: 10px; border: solid 1px green;"><br>-->
                <!--<hr>-->
                <!--<select>-->
                    <!--<option value="opt_1">按指定像素裁剪图片</option>-->
                    <!--<option value="opt_2">按高宽比例裁剪图片</option>-->
                <!--</select>-->
                <hr>
                个性化水印&nbsp;<input ng-model="footstep.waterMark" type="text" placeholder="黄金会员" style="margin-bottom: 10px; border: solid 1px green;" disabled> <br>有图QQ群: 389280583
                <hr>
                <script src="../../js/common/jscolor.js"></script>
                背景色: <input ng-model="footstep.color" style="margin-bottom: 10px; border: solid 1px green;" class="jscolor"/>
                <hr>
                地点: <input ng-model="footstep.fs_from" style="margin-bottom: 10px; border: solid 1px green;">
                <hr>
                <!--<span class="create_footstep-info-span">描述</span>-->
                <textarea ng-model="footstep.fs_desc" style="height: 120px;" class="create_footstep-info-desc" rows="3" cols="40" placeholder="客官, 为你的图片, 加点记忆吧! " required></textarea>
                <!--<input type="text" ng-model="footstep.fs_desc" name="imagePrice1" value=""/>-->
            </div>
            <div>
                <input class="uploadedBtn" type="submit" id="footstep_form-submit" value="发布保存">
            </div>
        </form>
    </div>
</div>
