.cke_contents {
  height: 100px;
}
.foot_wrapper {
  display: block;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
}
.foot_wrapper .foot_wrapper-back .foot_wrapper-back_close {
  float: right;
  font-size: 20px;
  color: white;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 1.3;
  background-color: gray;
  cursor: pointer;
  border: solid 1px;
  border-radius: 15px;
  margin-right: 5px;
}
.foot_wrapper .foot_wrapper-main {
  margin: 0 auto;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_follow {
  float: right;
  margin: 20px;
}
.foot_wrapper .foot_wrapper-main button {
  border-radius: 2px;
  background-color: darkgray;
  border: none;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper_pic_list {
  height: 85px;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper_pic_list .foot_wrapper_pic_list_img {
  width: 75px;
  height: 75px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper_pic_list .foot_wrapper_pic_list_img img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.foot_wrapper .foot_wrapper-main .footstep_div-pic .footstep_div-pic_prev_pic {
  float: right;
  margin-left: 10px;
  padding: 25px 12px;
  background-color: white;
  cursor: pointer;
  position: absolute;
  margin-top: 235px;
  /* border-radius: 39%; */
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 10%;
  border-top-right-radius: 10%;
  opacity: 0.7;
}
.foot_wrapper .foot_wrapper-main .footstep_div-pic .footstep_div-pic_next_pic {
  float: right;
  padding: 25px 12px;
  background-color: white;
  cursor: pointer;
  position: absolute;
  margin-top: 235px;
  margin-left: 710px;
  /* border-radius: 39%; */
  border-bottom-left-radius: 10%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  opacity: 0.7;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_profile {
  margin-top: 10px;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_profile-slogan {
  min-height: 20px;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_comment-content {
  margin: 10px;
  line-height: 2;
  overflow-wrap: break-word;
  overflow: hidden;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_comment-add {
  width: 80px;
  margin: 10px;
  float: right;
  border-radius: 6px;
  background-color: #eee;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_comment-from {
  margin: 6px;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_follower-img {
  width: 60px;
  height: 60px;
  float: left;
  margin: 10px;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_follower-img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.foot_wrapper .foot_wrapper-main .foot_wrapper-main_distance {
  height: 300px;
}
.foot_wrapper-main_comment {
  border: solid 1px gray;
  padding: 20px;
  margin-top: 5px;
}
.foot_wrapper-main_comment .footstep-list-div-comment-avatar {
  margin: 0px 0% 0px 0px;
  text-align: center;
  min-height: 100px;
  padding: 20px 30px 20px 10px;
  line-height: 3;
  float: left;
}
.foot_wrapper-main_comment .footstep-list-div-comment-avatar-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.share {
  display: block;
}
